* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Urbinst, sans-serif;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

:root {
  --maincolor: #15a8b5;
  --light-maincolor: #00b9c377;
  --supporting-bg-color: rgba(0, 184, 197, 0.132);
  --btn-color: linear-gradient(90deg, #3295cc, #a333d8);
  --btn-color-hov: linear-gradient(270deg, #3295cc, #a333d8);
  --white: #fff;
  --black: #060303;
  --supporting-color: #fcb61d;
  --border-color: #f6bc4aa4;
  --heading-color: #200c70;
  --hero-bg-color: linear-gradient(
    270deg,
    #cc323270,
    #c2d83380,
    #1ae6e264,
    #1cffa49f
  );
}

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--supporting-bg-color);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

::-webkit-scrollbar-thumb {
  background: var(--btn-color);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--btn-color-hov);
  cursor: grabbing;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, sans-serif;
  color: var(--heading-color);
}

p,
li,
a,
label {
  font-family: "Urbanist", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: white;
  font-family: Poppins, sans-serif;
}

li {
  list-style: none;
}

.section-common-heading {
  font-family: poppins, sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-common-heading {
  color: var(--maincolor);
  position: relative;
  font-size: 1.6rem;

  &::after {
    content: "";
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    /* width:calc(100%-32px); */
    width: 22%;
    border-bottom: 0.3rem solid var(--supporting-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
}

.btn,
.btn-2 {
  width: fit-content;
  height: auto;
  background-image: var(--btn-color);
  color: var(--white);
  text-transform: capitalize;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  padding: 7px 20px;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: all 0.2s;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  & a {
    color: var(--white);
    text-transform: capitalize;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
  }
}
.btn-2 {
  background-image: none;
  color: var(--black);
  background-color: transparent;
  border: 1px solid var(--black);

  &:hover {
    cursor: pointer;
    border-color: #a333d8;
    color: var(--supporting-color);
    scale: 1.05;
  }
}

.btn:hover {
  scale: 1.05;
  cursor: pointer;
  color: var(--supporting-color);
  background-image: var(--btn-color-hov);
  & a {
    color: var(--supporting-color);
  }
}

.grid {
  display: grid;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}

.fa-solid {
  font-size: 1.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: var(--maincolor);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

#scroll-top {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  & .fa-solid {
    color: #000000;
    font-size: 18px;
  }
  &:hover {
    background-color: var(--supporting-color);
  }
}

/* navbar starts*/
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--maincolor);
  padding: 0 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.left-nav,
.left-link {
  color: var(--black);
  font-size: 1.4rem;
  letter-spacing: 0;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;

  & img {
    max-width: 1.6rem;
    aspect-ratio: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.right-nav ul {
  display: flex;
  gap: 1rem;
}
.nav-links a {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  position: relative;
}
.nav-links a::after {
  content: "";
  width: 100%;
  scale: 0;
  height: 4px;
  background: var(--supporting-color);
  position: absolute;
  top: 28px;
  left: 0;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.nav-links a:hover {
  color: var(--supporting-color);
  &::after {
    scale: 1;
  }
}
a.active-link {
  color: var(--supporting-color) !important;
  &::after {
    scale: 1;
  }
}
.active-link {
  color: red;
}
.login a {
  font-weight: 500;
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  & .fa-circle-user {
    color: var(--white);
    cursor: pointer;
    font-size: 28px;
  }
  &:hover {
    box-shadow: rgba(28, 233, 237, 0.4) 0px 0px 0px 2px,
      rgba(18, 68, 126, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 15px;
  }
}

.three-dot {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.three-dot .fa-xmark {
  display: none;
}

/* Navbar Ends */

/* Hero section starts */
.Main-section {
  background-image: var(--hero-bg-color);
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
  background-size: cover;
  /* background-attachment: scroll; */
}

.hero-content {
  padding: 3rem 5rem;

  & h2 {
    font-size: 1rem;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 1rem;
  }

  & h3 {
    margin-bottom: 3rem;
    color: var(--black);
    font-size: 1rem;
  }
  & p {
    text-align: justify;
    font-size: 14px;
  }
  & .hero-btn {
    margin-top: 4rem;
    display: flex;
    gap: 4rem;
    & .fa-solid {
      font-size: 16px;
      color: inherit;
    }
  }
}

.carousel-container {
  width: 100%;
  height: auto;
  padding: 1rem 2rem;
}

.carousel {
  width: 80%;
  aspect-ratio: 1;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: relative;
}
.slide {
  width: 100%;
}
.slide img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 5px;
}
.indicator-container {
  position: absolute;
  bottom: 10px;
  left: 20%;
}
.indicator {
  cursor: pointer;
  height: 5px;
  width: 3rem;
  margin: 0 5px;
  background-color: #c1e0e593;
  border-radius: 50px;
  display: inline-block;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.indicator.active {
  background-color: var(--maincolor);
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  padding: 10px;
  color: white;
  background-color: var(--light-maincolor);
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 99;
  &:hover {
    background-color: var(--maincolor);
  }
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}
.fade {
  opacity: 0;
  position: absolute;
  bottom: 0;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.fade.show {
  opacity: 1;
}
/* Hero section ends */

/* Notice section starts  */
.notice-section {
  max-width: 100%;
  height: auto;
  display: flex;
  border-top: 5px solid #bbb1b169;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: var(--supporting-bg-color);
  overflow-x: hidden;
  & h3 {
    background-color: var(--maincolor);
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    display: flex;
    gap: 5px;
    z-index: 232;
    & .fa-bullhorn {
      font-size: 1.2rem;
      color: var(--heading-color);
    }
  }

  & .notice-field {
    width: 80%;
    color: var(--black);
    font-size: 1.4rem;
    font-family: Urbinst, sans-serif;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* overflow: hidden; */
    white-space: nowrap;
  }
}
.all-notices {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice {
  font-size: 18px;
  font-family: Poppins, sans-serif;
  border-right: 2px solid var(--light-maincolor);
  padding: 0 10px;
}

/* Notice section ends  */

/* <!-- Gallery section starts  --> */
.Section-gallery {
  max-width: 100%;
  height: auto;

  & h2 {
    padding: 1rem 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--supporting-bg-color);
    border-bottom: 5px double var(--supporting-color);
  }

  & .view-more--btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--supporting-bg-color);

    & .btn {
      width: 10rem;
    }
  }
}

.container {
  width: 100%;
  /* height: 40rem; */
  gap: 1.5rem;
  place-items: center;
  padding: 2rem;
  background-color: var(--supporting-bg-color);
  overflow: auto;
}

.gallery-cards {
  max-width: 100%;
  & img {
    width: 100%;
    aspect-ratio: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  & .gallery-card-desc {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-top: -1rem;
    padding: 1rem;
    padding-top: 2rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    & ._calendar {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    & .fa-calendar {
      color: #444444;
    }

    & p {
      font-size: 12px;
      color: #a8a7a7;
    }

    & .fa-circle-down {
      color: rgb(60, 24, 222);
    }

    & .fa-circle-down:hover {
      color: var(--maincolor);
      cursor: pointer;
      scale: 1.1;
    }
  }
}
.image-container {
  position: relative;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
}
.image-container:hover {
  & img {
    filter: blur(4px);
    -webkit-filter: blur(4px);
    cursor: pointer;
    scale: 1.2;
  }
}
.title {
  position: absolute;
  bottom: 35%;
  left: 15%;
  background-color: rgba(0, 0, 0, 0.515);
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-family: poppins, sans-serif;
  font-size: 16px;
  width: 70%;
  padding: 10px;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.image-container:hover .title {
  opacity: 1;
}

.gallery-cards:hover {
  outline: 4px solid #00000039;
  border-radius: 8px 8px;
  -webkit-border-radius: 8px 8px;
  -moz-border-radius: 8px 8px;
  -ms-border-radius: 8px 8px;
  -o-border-radius: 8px 8px;
}

/* <!-- Gallery section ends  --> */

/* <!-- Facilities Section starts  --> */
.Section-facilities {
  max-width: 100%;
  height: 100%;
  margin-top: 2rem;
  & h2 {
    padding: 1rem 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--supporting-bg-color);
    border-bottom: 5px double var(--supporting-color);
  }
}

.container ol {
  padding: 1rem 2rem;
  border: 2px solid var(--border-color);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;

  & li {
    list-style-type: decimal;
    text-align: justify;
    letter-spacing: 0;
    font-family: poppins, sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}

.download-btn {
  width: 20rem;
  margin-top: 2rem;
}

/* <!-- Facilities section ends  --> */

/* <!-- footer section starts --> */
footer {
  width: 100%;
  height: 100%;
  background-color: var(--black);
  padding: 1rem 2rem 3rem;
  margin-top: 4px;
}

/* Quick links  */
.section-quick--links {
  width: 100%;

  & ol {
    padding: 2rem 1rem 2rem;
  }

  & .Q-link {
    width: fit-content;
    color: var(--white);
    padding: 0 2rem 1rem;
    list-style: inside;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    & a {
      font-size: 16px;
    }
    &:hover a {
      color: var(--maincolor);
    }
  }
}

/* About us  */
.about-section {
  max-width: 100%;
  height: 100%;
  gap: 2rem;
}

.about li {
  color: var(--white);
  padding: 1.5rem 2rem 0;
}

.fa-about-icons {
  font-size: 1.2rem;
  color: #ce802c;
}

.map iframe {
  border: 8px double var(--border-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.copyright {
  max-width: 100%;
  margin-bottom: -2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #323030e0;
  & h3 {
    font-size: 0.9rem;
    color: #ccc;
    font-weight: 400;
  }

  & h6,
  a {
    font-size: 0.6rem;
    letter-spacing: 0;
    padding-top: 10px;
    font-style: oblique;
  }
}

.social {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;

  & .fa-brands {
    background-color: var(--black);
    width: 40px;
    aspect-ratio: 1;
    font-size: 1.2rem;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;

    &:hover {
      background-color: var(--white);
      color: var(--black);
    }
  }
}

#scroll-top {
  position: sticky;
  bottom: 1rem;
  left: 88%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 550;
  display: none;
  text-align: center;
  vertical-align: middle;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;

  background-color: var(--maincolor);
  border: 3px solid var(--supporting-color);
  padding: 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  & .fa-solid {
    color: var(--white);
  }
}
/* <!-- footer section ends  --> */

/* Media queries starts  */

@media (width<870px) {
  /* media header section */
  header {
    padding: 0;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: sticky;

    .left-nav {
      font-size: 1.5rem;
      color: var(--white);

      img {
        max-width: 2.5rem;
        max-height: 2.5rem;
      }
    }

    .three-dot {
      display: flex;
      margin-right: 10px;
      background-color: #0f0e0e43;
      z-index: 100;
      padding: 8px;
      border-radius: 15%;
      -webkit-border-radius: 15%;
      -moz-border-radius: 15%;
      -ms-border-radius: 15%;
      -o-border-radius: 15%;

      &:hover {
        background-color: #1a1a1a6f;
      }

      & .fa-bars {
        color: var(--white);
      }
    }
  }

  .right-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vmin;
    background-color: var(--maincolor);
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    & ul {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  }

  .active .right-nav {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    /*overflow-x: hidden;
        */
  }

  .active .fa-xmark {
    display: block;
    color: var(--white);
  }

  .active .fa-bars {
    display: none;
  }

  .footer-common-heading {
    font-size: 1.4rem;
  }

  p {
    font-size: 14px;
  }

  .grid-two-cols {
    grid-template-columns: 1fr;
  }

  .grid-four--cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .btn,
  .btn-2 {
    width: 100%;
    padding: 8px 6px;
    text-wrap: nowrap;
  }
  .carousel-container {
    grid-row: 1;
    width: 100%;
    padding: 0;
    & .carousel {
      width: 100%;
      aspect-ratio: 16/12;
    }
  }

  .Main-section,
  .hero-content {
    padding: 1rem;
    & .Welcome {
      text-align: center;
    }
    & .footer-common-heading::after {
      left: 40%;
    }
  }
  .notice-section {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    h3 {
      font-size: 1.3rem;
      padding: 10px;
      width: 100%;
      text-align: center;
      justify-content: center;
    }

    & .notice-field {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 17rem;
      padding: 10px;
      display: block;
      & .all-notices {
        flex-direction: column;
      }
      & .notice {
        border-left: 2px solid var(--heading-color);
        white-space: wrap;
        font-size: 15px;

        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
          rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        margin-top: 15px;
        padding: 10px;
      }
    }
  }

  .Section-gallery {
    h2 {
      font-size: 1.5rem;
    }
  }

  .gallery-card-desc {
    flex-direction: column;

    ._calendar {
      i {
        font-size: 0.6rem;
      }

      p {
        font-size: 0.4rem;
        font-weight: 500;
        text-transform: capitalize;
      }
    }

    & .fa-circle-down {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 5px;
      background-image: var(--btn-color);
      font-size: 0.5rem;
      padding: 10px;
      text-align: center;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
    }

    & .fa-circle-down::after {
      content: "DOWNLOAD";
      letter-spacing: 2.5px;
      color: var(--white);
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
    }

    & .fa-circle-down:hover::after {
      color: var(--supporting-color);
    }
  }

  .Section-facilities {
    h2 {
      font-size: 1.5rem;
    }

    li {
      font-size: 0.9rem;
    }
  }

  .section-quick--links {
    li {
      font-size: 0.8rem;
      margin: 0 0 0 -2rem;
    }
    & .Q-link a {
      font-size: 13px;
    }
  }

  .section-about .about {
    margin: 10px 0;

    li,
    a {
      font-size: 0.8rem;
      padding: 10px 10px;
      white-space: nowrap;

      &:first-child {
        padding: 5px;
      }
    }
  }

  .copyright {
    height: 100%;
    flex-direction: column;
    gap: 1rem;
    h3 {
      font-size: 0.75rem;
      text-align: center;
    }

    h6,
    a {
      font-size: 0.7rem;
      text-align: center;
    }
  }

  #scroll-top {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Media queries ends  */

/* scroll top section  */
