/* loader component starts  */
.loader-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  /* display: none; */
  & .loader {
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 8px solid rgba(198, 172, 172, 0.443);
    border-top: 8px solid #421b1bfd;
    border-bottom: 8px solid #421b1bfd;
    animation: spin 1.5s ease infinite;
    -webkit-animation: spin 1.5s ease infinite;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

/* loader component ends  */

/* contacts us page style starts */

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 4rem;

  & .fullname {
    display: flex;
    gap: 1rem;
  }
}

.contact-right img {
  width: 90%;
  aspect-ratio: 1;
  margin: -1rem 0;
  mix-blend-mode: multiply;
}

.common-heading {
  color: var(--black);
  text-transform: uppercase;
  position: relative;
}

.common-heading::after {
  content: "";
  width: 40%;
  height: 4px;
  position: absolute;
  bottom: -8px;
  left: 0;
  border-bottom: 2px solid var(--supporting-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 50%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

label {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--black);
}

input,
textarea {
  width: 100%;
  height: 1.8rem;
  padding: 10px;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
  border: 1.2px solid #16151552;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  &:hover {
    border-color: #0e0d0da0;
  }
}

textarea {
  height: 7rem;
  /* line-height: 120%; */
  font-size: 12px;
  resize: none;
}

form .btn {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

input,
textarea::placeholder {
  font-family: poppins, sans-serif;
  font-size: 12px;
}

input,
textarea:focus-visible {
  color: rgb(13, 60, 64);
}

/* contacts us page style ends */

/* downloads page style starts */
.btn-secondary {
  width: 100%;
  height: auto;
  padding: 8px 12px;
  color: black;
  font-size: 1rem;
  background: #9bdfe386;
  border: 2px solid rgba(36, 85, 93, 0.663);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.btn-secondary:hover {
  color: #191111;
  cursor: pointer;
  background: #85ccd096;
  border: 2px solid rgba(36, 85, 93, 0.801);
}

.section-download {
  width: 100%;
  height: auto;

  & h5 {
    color: var(--black);
  }
}

.download-elements {
  width: 100%;
  height: auto;
  background: #00000020;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  /**/
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 15px;
  margin-bottom: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  & .elements-btn {
    padding: 10px 0;
    display: flex;
    gap: 1rem;
  }

  & .btn {
    height: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
}

.download-elements:nth-of-type(even) {
  background: #a29f9f2d;
}

.download-elements:hover {
  background: #74aba865;
}

.visit-gallery {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #93dfde69;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;

  &:hover {
    background: var(--supporting-color);
  }
}

/* downloads page style ends */

/* services page starts  */
.section-services {
  width: 100%;
  height: auto;
}
/* services page starts  */

/* media queries starts  */

/* download page media queries */
@media (width<870px) {
  .download-elements {
    flex-direction: column;
    align-items: stretch;
    padding-top: 1rem;
  }
  .visit-gallery h5 {
    font-size: 12px;
  }
}

/* media queries ends */
